
server:
  port: 8080


spring:
  application:
    name: BasicToAdvance
#  datasource:
#    url: jdbc:sqlserver://127.0.0.1:1433;databaseName=myDB;encrypt=false
#    username: na
#    password: 606845
#    driverClassName: com.microsoft.sqlserver.jdbc.SQLServerDriver
#  jpa:
#    hibernate:
#      ddl-auto: update
#      show-sql: true
#      dialect: org.hibernate.dialect.SQLServer2012Dialect
#      format_sql: true
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.SQLServer2012Dialect
#        format_sql: true
#        envers.audit_table_suffix: _AUD
#        envers.store_data_at_delete: true
  # ---------------- PostgreSQL ----------------
  postgresql:
    datasource:
      url: jdbc:postgresql://localhost:5432/naz
      username: postgres
      password: 123456
      driverClassName: org.postgresql.Driver
    jpa:
      hibernate:
        ddl-auto: update
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show-sql: true
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: nazmulhaq606845@gmail.com
    password: edcx brwt yotc mkkx
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  redis:
    host: localhost
    port: 6379




kafka:
  bootstrap-servers: localhost:9092
  consumer:
    group-id: group1
    auto-offset-reset: earliest
    key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
    properties:
      spring:
        json:
          trusted:
            packages: '*'
  producer:
    key-serializer: org.apache.kafka.common.serialization.StringSerializer
    value-serializer: org.springframework.kafka.support.serializer.JsonSerializer


jwt:
  secret: ${JWT_SECRET}

google:
  client:
    id: ${GOOGLE_CLIENT_ID}
    secret: ${GOOGLE_CLIENT_SECRET}
